name: Continuous Integration

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

  workflow_dispatch:



jobs:

  configure:
    runs-on: ubuntu-latest
    steps:
    - name: Pull request auto merge enabler
      if: github.event_name == 'pull_request' && github.actor != 'dependabot[bot]'
      uses: poad/github-pull-request-auto-merge-enable-action@v2.0.1
      with:
        pull_request_number: ${{ github.event.pull_request.number }}
        github_token: ${{ secrets.PERSONAL_TOKEN_FOR_GITHUB_ACTIONS }}
        repository: ${{ github.event.repository.name }}
        owner: ${{ github.repository_owner }}
        merge_method: SQUASH

  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        jdk-version: [11, 17]

    steps:
    - uses: actions/checkout@v4
    - name: Set up JDK
      uses: actions/setup-java@v4
      with:
        java-version: ${{ matrix.jdk-version }}
        distribution: zulu

    - name: Validate Gradle wrapper
      uses: gradle/wrapper-validation-action@27152f6fa06a6b8062ef7195c795692e51fc2c81

    - uses: actions/cache@v4
      with:
        path: |
          ~/.gradle/caches
          ~/.gradle/wrapper
        key: ${{ runner.os }}-${{ matrix.jdk-version }}-gradle-${{ hashFiles('**/*.gradle*', '**/gradle-wrapper.properties') }}
        restore-keys: |
          ${{ runner.os }}-${{ matrix.jdk-version }}-gradle-

    - name: Build and Test
      run: ./gradlew clean test
    
    - uses: actions/upload-artifact@v4
      if: always()
      with:
        name: JaCoCo
        path: |
          ./build/reports/jacoco/test
    - uses: actions/upload-artifact@v4
      if: always()
      with:
        name: JUnit
        path: |
          ./build/reports/jacoco/test
          ./build/reports/tests/test