name: Continuous Delivery

on:
  release:
    types:
      - published

  workflow_dispatch:

jobs:
    
  publish:
    runs-on: ubuntu-latest

    if: github.actor != 'dependabot[bot]'

    steps:
    - uses: actions/checkout@v4
    - name: Set up JDK
      uses: actions/setup-java@v4
      with:
        java-version: 17
        distribution: zulu

    - name: Validate Gradle wrapper
      uses: gradle/wrapper-validation-action@b5418f5a58f5fd2eb486dd7efb368fe7be7eae45

    - name: Publish to the Maven Central Repository
      env:
        ORG_GRADLE_PROJECT_sonatypeUsername: ${{ secrets.SONATYPE_USERNAME }}
        ORG_GRADLE_PROJECT_sonatypePassword: ${{ secrets.SONATYPE_PASSWORD }}
        ORG_GRADLE_PROJECT_signingKey: ${{ secrets.OSSRH_GPG_SECRET_KEY }}
        ORG_GRADLE_PROJECT_signingPassword: ${{ secrets.OSSRH_GPG_SECRET_KEY_PASSWORD }}
      run: |
          ./gradlew -Ptarget=release \
            clean publishToSonatype closeAndReleaseSonatypeStagingRepository
